@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(224, 224, 224);
}

button {
  border: none;
  box-sizing: border-box;
}

.container {
  padding: 25px 18px;
  width: 300px;
  background-color: #3c4347;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  gap: 20px;
  position: relative;

  .routine {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;

    .circle,
    .circle-unknown {
      background-color: red;
      position: relative;
      width: 47px;
      aspect-ratio: 1;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3.5px solid #3c4347;
      transition: all 1s;
    }

    & span:nth-of-type(1) {
      font-size: 0.4rem;
      color: #fff;
      margin-top: 10px;
      z-index: 50;
    }

    & span:nth-of-type(2) {
      font-size: 0.7rem;
      color: #fff;
      letter-spacing: 1.2px;
      z-index: 50;
    }

    & span:nth-of-type(3) {
      position: absolute;
      bottom: -50%;
      font-size: 0.5rem;
      z-index: 50;
      color: #fff;
      transition: all 3s;
    }
  }

  .btn-submit {
    position: absolute;
    top: 120%;
    z-index: 50;
    border-radius: 20px;
    font-size: 0.65rem;
    padding: 0.1em 1em;
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: opacity 3s;
    text-transform: uppercase;

    &:hover,
    &:focus {
      background-color: #fff;
    }

    &:focus {
      outline: 0;
    }
  }

  .btn-reset {
    position: absolute;
    left: 18px;
    top: 0px;
    font-size: 0.45rem;
    padding: 1px 5px;
    background-color: #c7c7c7;
    cursor: pointer;

    &:hover {
      background-color: #fff;
    }
  }
}

.circle-unknown {
  cursor: default !important;
}

.active {
  transition: all 1s;
  border: 3.5px solid #3c4347 !important;
  outline: 6px solid #3c4347 !important;
  transform: scale(1.2);

  &::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 19px;
    background-color: #3c4347;
    border-radius: 5px;
    z-index: 2;
    left: 13px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 19px;
    background-color: #3c4347;
    border-radius: 5px;
    z-index: 2;
    right: 13px;
  }
}

#circle1 {
  background-color: #fe567a;
  outline: 6px solid #fe567a;
}

#circle2 {
  background-color: #62fda4;
  outline: 6px solid #62fda4;
}

#circle3 {
  background-color: #5dcffe;
  outline: 6px solid #5dcffe;
}

#circle4 {
  background-color: #f9fe6d;
  outline: 6px solid #f9fe6d;
}

.input-time {
  position: absolute;
  bottom: -50%;
  border-radius: 51px;
  border: 0;
  width: 35%;
  text-align: center;
  font-size: 0.5rem;
  z-index: 5;
  -webkit-appearance: none;
  background-color: #eee;
  transform: translateX(0px);
  transition: all 3s;

  &:focus-visible {
    outline: 1px solid black;
    background-color: #fff;
  }
}

.hours {
  left: 0;
}

.minutes {
  right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 2;
  transition: all 3s;
}

.hidden {
  transform: translateY(-44px);
  opacity: 0;
  width: 41%;
  transition: all 3s;
}

.hidden-2 {
  opacity: 0;
}

.d-none {
  display: none;
}

.alert {
  position: absolute;
  padding: 10px 15px;
  z-index: 500;
  top: 0;
  background-color: #fe567a;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
  transform: translateY(-50px);
  transition: transform 1s ease-in-out;

  span {
    font-size: 0.45rem;
    color: #fff;
  }

  button {
    font-size: 0.4rem;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;

    &:hover {
      background-color: #fff;
    }
  }
}
